<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GForce-Connect</title>
    <link rel="stylesheet" href="./css/bulma.min.css"> 
    <link rel="stylesheet" href="./css/material-icons.css">   
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
  </head>
  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="./index.html">
            <img src="./img/instagram_old.jpg" width="64" height="64">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
                <span class="material-icons">home</span>
                Accueil
            </a>
      
            <a class="navbar-item">
                <span class="material-icons">explore</span> 
                 Explorer
            </a>

            <a class="navbar-item">
                <span class="material-icons md-36">notifications</span>
                 Alerts
            </a>

            <a class="navbar-item">
                <span class="material-icons md-36">inbox</span>
                 Messagerie
            </a>
                              
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <span class="material-icons md-36">settings</span>
                 Paramètres
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                    <span class="material-icons md-36">account_circle</span>  
                        Profile
                </a>
                <a class="navbar-item">
                    <span class="material-icons md-36">password</span>  
                        Modifier Mot de Passe
                    </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                <span class="material-icons md-36">supervised_user_circle</span> 
                        Contacts
                </a>
                <a class="navbar-item">
                <span class="material-icons md-36">bug_report</span>    
                   Signaler un Problème
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                <span class="material-icons md-36">logout</span>
                   Déconnexion
                </a>
              </div>
            </div>
          </div>    
          <!-- <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div> -->
        </div>
  </nav>    
  <section class="section">
    <div class="container">
        <article class="media">
            <div class="media-left">
                <figure class="image is-256x256">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <h1 class="title is-1" style="font-weight: bold;">@Parhéto10</h1>
                    <h2 class="subtitle is-3">Parhéto Touré</h2>
                    <div class="media-right">
                        <button class="button is-success is-rounded">Suivre</button>
                    </div>
                </div>           
        
                <nav class="level is-mobile">
                    <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Tweets</p>
                        <p class="title">3,456</p>
                    </div>
                    </div>
                    <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Following</p>
                        <p class="title">123</p>
                    </div>
                    </div>
                    <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Followers</p>
                        <p class="title">456K</p>
                    </div>
                    </div>
                    <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Likes</p>
                        <p class="title">789</p>
                    </div>
                    </div>
                </nav>

                <p class="subtitle is-5">
                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                    It has roots in a piece of classical Latin literature from 45 BC,
                    making it over 2000 years old. Richard McClintock, a Latin professor
                    at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                    classical literature, discovered the undoubtable source
                </p>
                <button class="button is-info is-rounded">Modifier Profile</button>
            
        </article>

    </div>
  </section>
  <section class="section">
    <div class="container">

        <div class="tabs is-centered" style="margin-top: -70px;">
            <ul>
              <li class="is-active">                
                  <a><span class="material-icons">dashboard</span> Postés</a>
                </li>
              <li>                
                  <a> <span class="material-icons">save_alt</span> Enregistrés</a>
                </li>              
            </ul>
        </div>
        
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-one-quarter">
                <div class="box">                    
                    <figure class="image is-256x256">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">                                             
                    </article>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">                    
                    <figure class="image is-256x256">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">                                             
                    </article>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">                    
                    <figure class="image is-256x256">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">                                             
                    </article>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">                    
                    <figure class="image is-256x256">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">                                             
                    </article>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">                    
                    <figure class="image is-256x256">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">                                             
                    </article>
                </div>
            </div>            
        </div>              
    </div>
  </section>
  </body>
</html>